-# ANZNN - Australian & New Zealand Neonatal Network
-# Copyright (C) 2017 Intersect Australia Ltd
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program. If not, see <http://www.gnu.org/licenses/>.

- content_for :tabs do
  = render "tabs"

- title 'Current Users'
= form_tag admin_users_path, method: :get do
  = label_tag :hospital_filter, 'Filter by hospital'
  &nbsp;
  = select_tag :hospital_filter, hospital_filter_options(@hospital_filter), {class: 'large'}
  = hidden_field_tag :sort, sort_column
  = hidden_field_tag :direction, sort_direction
  = submit_tag "Filter"
%table#users
  %thead
    %tr.sortable
      %th= sortable 'first_name'
      %th= sortable 'last_name'
      %th= sortable 'email'
      %th= sortable 'roles.name', 'Role'
      %th= sortable 'hospitals.name', 'Hospital'
      %th= sortable 'status'
      %th= sortable 'last_sign_in_at', 'Last signed in'
      %th Actions
  %tbody
    - @users.each do |user|
      %tr{class: cycle('field_bg', 'field_nobg')}
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.role.name if user.role
        %td= user.hospital.present? ? "#{user.hospital.name} (#{user.hospital.state})" : "(None)"
        %td
          - if user.status == 'A'
            Active
          - else
            Deactivated
        %td
          - if user.last_sign_in_at.nil?
            Never logged in
          - else
            = user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
        %td
          %p
            = link_to "View Details", admin_user_path(user), id: "view_#{user.id}", class: 'btn'
          - if can?(:update_role, User)
            = link_to 'Edit Access Level', edit_role_admin_user_path(user), id: "edit_role_#{user.id}", class: 'btn'
